@import '../../styles/colors.scss';

.error-wrapper {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $meli-primary-color;
}