@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/font';

.item {
  background: $meli-white-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;  
  border-bottom: 1px solid $meli-secondary-color;

  &__body {
    display: flex;
    flex: 2;

    &-thumbnail  {
      height: 180px;
      width: 180px;
      border-radius: 4px;
      padding: $spacer-16;
  
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  
    &-price {
      display:  flex;
      font-size: $font-24;
      margin-top: $spacer-32;
      margin-bottom: $spacer-32;
      align-items: center;
  
      p {
        margin-right: 10px;
      }
  
      &-shipping {
        width: 16px;
        height: 16px;
      }
    }

    &-title {
      font-size: $font-18;
      width: 400px;
      margin-bottom: $spacer-32;
    }
  }

  .item__address {
    flex: 1;
    font-size: $font-12;
    color: $meli-grey-color;
  }
}