@import '../../styles/colors';
@import '../../styles/layout';
@import '../../styles/font';


.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__image {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: $spacer-32;

    img {
      width: 680px;
      height: 680px;
      object-fit: contain;
    }
  }

  &__info {
    &-condition {
      p {
        font-size: $font-14;
        color: $meli-grey-color;
        margin: $spacer-32 0 $spacer-16 0;
      }
    }

    &-title {
      width: 400px;
      font-size: $font-24;
      margin-bottom: $spacer-32;
      padding-right: $spacer-32;
    }

    &-price {
      font-size: 46px;
      margin-bottom: 46px;
    }

    &-checkout {
      background-color: $meli-blue-color;
      color: $meli-white-color;
      border: none;
      border-radius: 4px;
      width: 60%;
      height: 45px;
      margin-right: $spacer-32;
    }
  }
}

.product__description {
  margin: $spacer-32;
  &-title {
    margin-bottom: $spacer-32;
    font-size: $font-28;
  }

  &-text {
    font-size: $font-16;
    color: $meli-grey-color;
   width: 65%;
  }
}